[Desktop Entry]
Categories=Utility;Calculator;
Comment=Calculator
Exec=deepin-calculator
Icon=deepin-calculator
Name=Deepin Calculator
StartupNotify=true
TryExec=deepin-calculator
Type=Application
X-Deepin-ManualID=deepin-calculator

# Translations


# Translations
Icon[ar]=deepin-calculator
Comment[ar]=الحاسبة
Name[ar]=حاسبة ديبين
Icon[az]=deepin-kalkulyator
Comment[az]=Kalkulyator
Name[az]=Deepin Kalkulyator
Icon[bg]=deepin-calculator
Comment[bg]=Калкулатор
Name[bg]=Deepin Калкулатор
Icon[bn]=ডিপিন -ক্যালকুলেটর
Comment[bn]=ক্যালকুলেটর
Name[bn]=ডিপিন ক্যালকুলেটর
Icon[ca]=calculadora-deepin
Comment[ca]=Calculadora
Name[ca]=Calculadora del Deepin
Icon[cs]=kalkulačka
Comment[cs]=Kalkulačka
Name[cs]=Deepin kalkulačka
Icon[da]=deepin-calculator
Comment[da]=Lommeregner
Name[da]=Deepin lommeregner
Icon[de]=Deepin Taschenrechner (deepin-calculator)
Comment[de]=Taschenrechner
Name[de]=Deepin Taschenrechner
Icon[el]=Αριθμομηχανή Deepin
Comment[el]=Αριθμομηχανή
Name[el]=Αριθμομηχανή Deepin
Icon[es]=calculadora-deepin
Comment[es]=Calculadora
Name[es]=Calculadora Deepin
Icon[et]=deepin-kalkulaator
Comment[et]=Kalkulaator
Name[et]=Deepin kalkulaator
Icon[fa]=ماشین حساب-دیپین
Comment[fa]=ماشین حساب
Name[fa]=ماشین حساب دیپین
Icon[fi]=deepin-calculator
Comment[fi]=Laskin
Name[fi]=Deepinin Laskin
Icon[fr]=calculatrice-deepin
Comment[fr]=Calculatrice
Name[fr]=Calculatrice Deepin
Icon[ug]=Deepin-ھېسابلىغۇچى
Comment[ug]=ھېسابلىغۇچ
Name[ug]=Deepin ھېسابلىغۇچى
Icon[he]=deepin-calculator
Comment[he]=מחשבון
Name[he]=המחשבון של Deepin
Icon[hr]=deepin-kalkulator
Comment[hr]=Kalkulator
Name[hr]=Deepin kalkulator
Icon[hu]=deepin számológép
Comment[hu]=Számológép
Name[hu]=Deepin Számológép
Icon[id]=deepin-calculator
Comment[id]=Kalkulator
Name[id]=Kalkulator Deepin
Icon[it]=deepin-calculator
Comment[it]=Calculator
Name[it]=Deepin Calculator
Icon[ko]=deepin-calculator
Comment[ko]=계산기
Name[ko]=Deepin 계산기
Icon[lt]=deepin-calculator
Comment[lt]=Skaičiuotuvas
Name[lt]=Deepin skaičiuotuvas
Icon[mn]=дээпин-тооцоолуур
Comment[mn]=Тооцоолуур
Name[mn]=Дээпин тооцоолуур
Icon[ms]=deepin-calculator
Comment[ms]=Kalkulator
Name[ms]=Kalkulator Deepin
Icon[am_ET]=ዲፕኢን-ማስሊያ
Comment[am_ET]=ማስሊያ
Name[am_ET]=ዲፕኢን ማስሊያ
Icon[ne]=डिपिन-क्याल्कुलेटर
Comment[ne]=क्याल्कुलेटर
Name[ne]=डिपिन क्याल्कुलेटर
Icon[nl]=deepin-rekenmachine
Comment[nl]=Rekenmachine
Name[nl]=Deepin Rekenmachine
Icon[pl]=deepin-calculator
Comment[pl]=Kalkulator
Name[pl]=Kalkulator Deepin
Icon[pt]=deepin-calculator
Comment[pt]=Calculadora
Name[pt]=Calculadora do Deepin
Icon[pt_BR]=deepin-calculator
Comment[pt_BR]=Calculadora
Name[pt_BR]=Deepin Calculadora
Icon[ro]=deepin-calculator
Comment[ro]=Calculator
Name[ro]=Calculatorul Deepin
Icon[ru]=калькулятор-deepin
Comment[ru]=Калькулятор
Name[ru]=Калькулятор Deepin
Icon[sk]=deepin-kalkulacka
Comment[sk]=Kalkulačka
Name[sk]=Deepin Kalkulačka
Icon[sl]=kalkulator-deepin
Comment[sl]=Kalkulator
Name[sl]=Kalkulator Deepin
Icon[sq]=deepin-calculator
Comment[sq]=Llogaritës
Name[sq]=Llogaritës Deepin
Icon[sr]=deepin-calculator
Comment[sr]=Калкулатор
Name[sr]=Дипин Калкулатор
Icon[gl_ES]=deepin-calculator
Comment[gl_ES]=Calculadora
Name[gl_ES]=Calculadora
Icon[sv]=deepin-kalkylator
Comment[sv]=Kalkylator
Name[sv]=Deepin Kalkylator
Icon[hi_IN]=डीपिन-गणक
Comment[hi_IN]=गणक
Name[hi_IN]=डीपिन गणक
Icon[tr]=deepin-hesap-makinesi
Comment[tr]=Hesap Makinesi
Name[tr]=Deepin Hesap Makinesi
Icon[uk]=deepin-calculator
Comment[uk]=Калькулятор
Name[uk]=Deepin Калькулятор
Icon[zh_CN]=deepin-calculator
Comment[zh_CN]=计算器
Name[zh_CN]=深度计算器
Icon[zh_HK]=deepin-calculator
Comment[zh_HK]=計數機
Name[zh_HK]=Deepin 計數機
Icon[zh_TW]=deepin-calculator
Comment[zh_TW]=計算機
Name[zh_TW]=Deepin 計算機
Icon[ast]=deepin-calculator
Comment[ast]=Calculadora
Name[ast]=Deepin Calculator
Icon[ky]=deepin-calculator
Comment[ky]=эсептегич
Name[ky]=Deepin эсептегич
Icon[nb]=deepin-kalkulator
Comment[nb]=Kalkulator
Name[nb]=Deepin Kalkulator
Icon[ku_IQ]=ژمێرەری-Deepin
Comment[ku_IQ]=ژمێرەر
Name[ku_IQ]=ژمێرەری Deepin
