[desktop]
Categories=Settings;
Comment=OEM tool for deepin installer
Exec=deepin-installer-oem
Icon=deepin-installer-oem
Name=Deepin Installer OEM
StartupNotify=false
Terminal=false
Type=Application


# Translations
Comment[ar]=أداة الشركات لتثبت ديبين
Name[ar]=مثبت ديبين للشركات
Icon[ar]=deepin-installer-oem
Comment[ug]=Deepin  نى OEM ئارقىلىق قاچىلاش
Name[ug]=Deepin OEM قاچىلىغۇچى
Icon[ug]=Deepin-OEM-قاچىلىغۇچى
Comment[bg]=OEM инструмент за deepin инсталатataustra
Name[bg]=Deepin инсталатор OEM
Icon[bg]=deepin-installer-oem
Comment[ca]=Eina d'OEM per a l'instal·lador del Deepin
Name[ca]=Instal·lador del Deepin OEM
Icon[ca]=deepin-instal·lador-oem
Comment[cs]=Nástroj pro předpřipravení počítače koncovému uživateli v instalátoru Deepin
Name[cs]=OEM instalátor Deepin
Icon[cs]=deepin-instalátor-oem
Comment[da]=OEM-værktøj til deepin-installationsprogram
Name[da]=Deepin-installationsprogram OEM
Icon[da]=deepin-installer-oem
Comment[de]=OEM-Werkzeug des Deepin-Installers
Name[de]=Deepin Installer OEM
Icon[de]=deepin-installer-oem
Comment[es]=Herramienta OEM para el instalador de Deepin
Name[es]=Instalador OEM Deepin
Icon[es]=deepin-installer-oem
Comment[fa]=ابزار  OEM برای نصب کننده دیپین
Name[fa]=نصب کننده  OEM دیپین
Icon[fa]=نصب کننده- OEM-دیپین
Comment[fi]=OEM-työkalu deepin-asentajalle
Name[fi]=Deepin OEM asentaja
Icon[fi]=deepin-asentaja-oem
Comment[fr]=Outil OEM pour l'installateur Deepin
Name[fr]=Installateur Deepin OEM
Icon[fr]=installateur-deepin-oem
Comment[hr]=OEM alat za deepin instalacijski program
Name[hr]=Deepin OEM instalacijski program
Icon[hr]=deepin-instalacijski program-oem
Comment[hu]=OEM eszközök deepin telepítéséhez
Name[hu]=Deepin OEM telepítő
Icon[hu]=deepin-installer-oem
Comment[id]=Alat OEM untuk penginstal deepin
Name[id]=Penginstal OEM Deepin
Icon[id]=deepin-installer-oem
Comment[it]=Strumenti OEM per Deepin Installer
Name[it]=Deepin Installer OEM
Icon[it]=deepin-installer-oem
Comment[ja]=Deepin インストーラー用の OEM ツール
Name[ja]=Deepin インストーラー OEM
Icon[ja]=deepin-installer-oem
Comment[ko]=Deepin 설치도구를 위한 OEM 도구
Name[ko]=Deepin OEM 설치도구
Icon[ko]=deepin-installer-oem
Comment[lt]=Deepin diegimo programos įrankis gamintojui
Name[lt]=Deepin diegimo programa, skirta gamintojui
Icon[lt]=deepin-installer-oem
Comment[ms]=Alat OEM untuk pemasang deepin
Name[ms]=OEM Pemasang Deepin
Icon[ms]=deepin-installer-oem
Comment[am_ET]=የ OEM መሳሪያ ለ ዲፕኢን መግጠሚያ
Name[am_ET]=የ ዲፕኢን መግጠሚያ ለ OEM
Icon[am_ET]=የ ዲፕኢን-መግጠሚያ ለ-oem
Comment[nl]=OEM-hulpmiddel voor deepin-installatie
Name[nl]=Deepin OEM-installatie
Icon[nl]=deepin-installatie-oem
Comment[pl]=Narzędzie OEM dla instalatora deepin
Name[pl]=Instalator OEM Deepin
Icon[pl]=deepin-installer-oem
Comment[pt]=Ferramenta OEM para o instalador deepin
Name[pt]=Instalador Deepin OEM
Icon[pt]=deepin-installer-oem
Comment[pt_BR]=Ferramenta OEM para o Instalador Deepin
Name[pt_BR]= Instalador OEM Deepin
Icon[pt_BR]=deepin-installer-oem
Comment[ro]=Unealtă OEM pentru instalatorul Deepin
Name[ro]=Instalatorul OEM Deepin
Icon[ro]=deepin-installer-oem
Comment[ru]=Инструмент OEM для установщика Deepin
Name[ru]=Установщик Deepin OEM
Icon[ru]=Установщик-deepin-oem
Comment[sk]=OEM nástroj pre deepin inštalátor
Name[sk]=Deepin OEM Inštalátor
Icon[sk]=deepin-oem-inštalátor
Comment[sl]=OEM orodje za namestitev deepina
Name[sl]=OEM namestitev Deepina
Icon[sl]=deepin-namestitev-oem
Comment[sr]=ОЕМ алат за Дипинов инсталациони програм
Name[sr]=Дипинов инсталациони програм ОЕМ
Icon[sr]=deepin-installer-oem
Comment[gl_ES]=Ferramenta OEM para o instalador de deepin
Name[gl_ES]=Instalador OEM de Deepin
Icon[gl_ES]=deepin-installer-oem
Comment[tr]=deepin kurucu OEM aracı
Name[tr]=Deepin Kurucu OEM
Icon[tr]=deepin-kurucu-oem
Comment[uk]=OEM-інструмент для встановлення deepin
Name[uk]=Встановлювач Deepin OEM
Icon[uk]=deepin-installer-oem
Comment[zh_CN]=深度安装器OEM工具
Name[zh_CN]=深度安装器
Icon[zh_CN]=deepin-installer-oem
Comment[zh_TW]=deepin 安裝程式的 OEM 工具
Name[zh_TW]=Deepin 安裝程式 OEM 版
Icon[zh_TW]=deepin-installer-oem
Comment[ast]=Ferramienta d'OEM pal instalador de Deepin
Name[ast]=Instalador OEM de Deepin
Icon[ast]=deepin-installer-oem
Comment[nb]=OEM verktøy for deepin instalasjonen
Name[nb]=Deepin installasjonen OEM
Icon[nb]=deepin-installer-oem
